.total{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}
secetion{
	font-size: 20px;
}
.boartType1{
    margin-left: 350px;
}
.search{
    float:right;
    margin-right: 50px;
}
.comT{
    clear: both;
    margin: 20px;
    text-align: center;
}
.type{
    height: 50px;
}
#bestList{
    height: 40px;
    background-color: #FFFFAA;
    border-bottom: 1px solid rgb(251,248,167);
}
#boardList{
	height: 40px;
	border-bottom: 1px solid rgb(251,248,167);
}
.boardType2{
    width: 190px;
}
.boardTitle{
    width: 800px;
}
.Btitle:hover{
	text-decoration:none;
	color:lightgray;
}
.boardHeart{
    color: red;
}
.boardWriter{
    width: 190px;
}
.boardDate{
    width: 190px;
}
.boardCount{
	width: 50px;
}
.write{
    margin-right: 100px;
    float: right;
}
table{
    margin: 40px;
}
table td{
    text-align: center;
    color: #333;
}
input:focus{
    outline: none;
}
#boardWrite{
	background-color:#FFBF00;
	height: 34px;
}
#boardSearch{
	margin-left: 10px;
	height: 20px;
}
#searchBtn{
	font-size: 17px;
}
.comT{
	font-size: 20px;
}
#searchResult{
	text-align: left;
	color: tomato;
	padding-left: 50px;
}

.myButton1 {
	background-color:#f2eb6f;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
}
.myButton1:hover {
	text-decoration:none
}
.myButton1:active {
	position:relative;
	top:1px;
	text-decoration:none
}
.myButton2 {
	background-color:white;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:14px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
}
.myButton2:hover {
	color:lightgray;
	text-decoration:none
	
}
.myButton2:active {
	position:relative;
	top:1px;
	text-decoration:none;
}
.beforePage:hover{
	text-decoration:none;
	color:lightgray;
}
.afterPage:hover{
	text-decoration:none;
	color:lightgray;
}
