
header {
  padding: 5px 15px !important;
  box-shadow: 0px 2px 7px #ccc;
}

footer {
  padding: 10px 30px;
  border-top: 1px solid #ccc;
}

header, footer {
  height: 10vh;
}

body {
  font-family: 'Jua', sans-serif;
  font-size: 14px;
}

section {
  height: 80vh;
  overflow-y: scroll ;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}

section > .row {
  height: 100%;
}

a { 
  color:#222;
}

a:hover {
  color:#222;
}

img {
  max-width:100%;
}

.right-menu button {
  margin: 0px 5px;
}

.community, .add_room {
  font-size: 20px;
}

.btn-primary {
  background-color: rgb(139, 224, 205);
  color: #222;
  border: none;
}

.btn-primary:hover {
  background-color: rgb(76, 166, 146);
}


.btn-secondary {
  background-color: rgb(190, 190, 190);
  color: rgb(64, 64, 64);
  border: none;
}

.btn-secondary:hover {
  background-color: rgb(158, 158, 158);
}

.btn-third {
  background-color: rgb(251, 209, 87);
  color: rgb(64, 64, 64);
  border: none;
}

.btn-third:hover {
  background-color: rgb(242, 190, 40)
}

.nav-item {
  margin: 0 10px;
}

.main-left {
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.place-item {
  text-align: center;
  margin-bottom: 10px;
}

.place-image {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
}

.group-place {
  margin-top: 25px;
}

.place-li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ellipsis1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
} 

.ellipsis2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
} 

.ellipsis3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
} 

.sidebar_menu{
  float:right;
  margin-top:20px;
}



.opacity-0 {
  opacity: 0;
}

.underline {
  text-decoration: underline;
}
.card_content{
  width: 100%;
  height: 160px;
  border : 2px solid #ccc;
  border-radius: 10px;
}
.card-item{
  position: relative;
}
.card-item .btn-more{
  position: absolute;
  bottom: 0px;
  left: 15px;

}