<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
<resultMap id="resultBoard" type="Board">
	<!-- prop 는 필드명, column 은 DB 컬럼 명 -->
	<id property="boardCodeSeq" column="BOARD_CODE_SEQ"/>
	<result  property="userId" column="USER_ID" />
	<result property="boardTitle" column="BOARD_TITLE" />
	<result property="boardContent" column="BOARD_CONTENT" />
	<result property="boardType" column="BOARD_TYPE" />
	<result property="boardDate" column="BOARD_DATE"/>
	<result property="boardCount" column="BOARD_COUNT" />
</resultMap>

<resultMap id="resultBoardThumb" type="BoardThumb">
	<!-- prop 는 필드명, column 은 DB 컬럼 명 -->
	<id property="boardCodeSeq" column="BOARD_CODE_SEQ"/>
	<result property="userId" column="USER_ID" />
	<result property="boardThumb" column="BOARD_THUMB" />
</resultMap>

<resultMap id="resultBoardComment" type="BoardComment">
	<!-- prop 는 필드명, column 은 DB 컬럼 명 -->
	<id property="commentCodeSeq" column="COMMENT_CODE_SEQ"/>
	<result  property="boardCodeSeq" column="BOARD_CODE_SEQ" />
	<result property="userId" column="USER_ID" />
	<result property="commentContent" column="COMMENT_CONTENT" />
	<result property="commentDate" column="COMMENT_DATE" />
</resultMap>

<!-- 게시글 목록 조회 -->
<select id="selectBoardList" parameterType="BoardPage" resultType="Board">
<![CDATA[
SELECT A.*, DECODE(B.THUMBSCNT, NULL, 0, B.THUMBSCNT) AS thumbsCnt, DECODE(C.COMMENTCNT, NULL, 0, C.COMMENTCNT) AS commentCnt
FROM (
    SELECT ROWNUM RNUM, 
        BOARD_CODE_SEQ as boardCodeSeq, 
        USER_ID userId, 
        BOARD_TITLE boardTitle,
		BOARD_CONTENT boardContent, 
        BOARD_TYPE boardType, 
        BOARD_DATE boardDate, 
        BOARD_COUNT boardCount
    FROM BOARD 
        ORDER BY BOARD_CODE_SEQ DESC
    )A,
    (SELECT
        BOARD_CODE_SEQ, 
        COUNT(*) AS THUMBSCNT
    FROM BOARD_THUMB
    GROUP BY BOARD_CODE_SEQ) B,
    (SELECT
        BOARD_CODE_SEQ,
        COUNT(*) AS COMMENTCNT
    FROM BOARD_COMMENT
    GROUP BY BOARD_CODE_SEQ) C
WHERE 
A.boardCodeSeq = B.BOARD_CODE_SEQ(+)
AND
A.boardCodeSeq = C.BOARD_CODE_SEQ(+)
AND RNUM > #{startPage} AND RNUM <= #{endPage}
ORDER BY A.boardCodeSeq DESC
]]>
</select>

<!-- 게시글 전체 글 개수 조회 -->
<select id="boardListCount" parameterType="Board" resultType="_int">
	SELECT COUNT(*) cnt FROM BOARD
		<where>
			<choose>
				<when test="boardType == '전체' or boardType == null">
				</when>
				<when test="boardType != '전체'">
					BOARD_TYPE = #{boardType}
				</when>
			</choose>	
		</where>
</select>

<!-- 베스트 게시글 5개 조회 -->
<select id="selectBestList" resultType="Board">
<![CDATA[
SELECT ROWNUM, D.* FROM
(SELECT  A.*, DECODE(B.thumbCnt, null, 0, B.thumbCnt) AS thumbsCnt, DECODE(C.commentCnt, NULL, 0, C.commentCnt) AS commentCnt
    FROM 
    (SELECT
        BOARD_CODE_SEQ as boardCodeSeq, 
        USER_ID userId, 
        BOARD_TITLE boardTitle,
		BOARD_CONTENT boardContent, 
        BOARD_TYPE boardType, 
        BOARD_DATE boardDate, 
        BOARD_COUNT boardCount
    FROM BOARD 
    )A,
    (SELECT
        BOARD_CODE_SEQ,
        COUNT(*) AS THUMBCNT
        FROM BOARD_THUMB
        GROUP BY BOARD_CODE_SEQ
        ) B,
    (SELECT BOARD_CODE_SEQ,
        COUNT(*) AS COMMENTCNT
        FROM BOARD_COMMENT
        GROUP BY BOARD_CODE_SEQ) C 
    WHERE
    A.boardCodeSeq = B.BOARD_CODE_SEQ(+)
    AND
    A.boardCodeSeq = C.BOARD_CODE_SEQ(+)
    ORDER BY thumbsCnt DESC) D
    WHERE ROWNUM <= 5
]]>
</select>

<!-- 게시글 검색 -->
<select id="boardSearch" parameterType="hashmap" resultType="Board">
SELECT A.*, DECODE(B.THUMBSCNT, NULL, 0, B.THUMBSCNT) AS thumbsCnt, DECODE(C.COMMENTCNT, NULL, 0, C.COMMENTCNT) AS commentCnt
FROM (
    SELECT ROWNUM RNUM, 
        BOARD_CODE_SEQ as boardCodeSeq, 
        USER_ID userId, 
        BOARD_TITLE boardTitle,
		BOARD_CONTENT boardContent, 
        BOARD_TYPE boardType, 
        BOARD_DATE boardDate, 
        BOARD_COUNT boardCount
    FROM BOARD 
        ORDER BY BOARD_CODE_SEQ DESC
    )A,
    (SELECT
        BOARD_CODE_SEQ, 
        COUNT(*) AS THUMBSCNT
    FROM BOARD_THUMB
    GROUP BY BOARD_CODE_SEQ) B,
    (SELECT
        BOARD_CODE_SEQ,
        COUNT(*) AS COMMENTCNT
    FROM BOARD_COMMENT
    GROUP BY BOARD_CODE_SEQ) C
WHERE 
A.boardCodeSeq = B.BOARD_CODE_SEQ(+)
AND
A.boardCodeSeq = C.BOARD_CODE_SEQ(+)
<choose>
		<when test="boardType == '제목'">
			AND A.boardTitle like '%'||#{boardContent}||'%'
		</when>
		<when test="boardType == '작성자'">
			AND A.userId like '%'||#{boardContent}||'%'
		</when>
</choose>	
ORDER BY A.boardCodeSeq DESC
</select>

<!-- 게시글 분류 -->
<select id="boardTypeSearch" parameterType="Board" resultType="Board">

SELECT A.*, DECODE(B.THUMBSCNT, NULL, 0, B.THUMBSCNT) AS thumbsCnt, DECODE(C.COMMENTCNT, NULL, 0, C.COMMENTCNT) AS commentCnt
FROM (
    SELECT ROWNUM RNUM, 
        BOARD_CODE_SEQ as boardCodeSeq, 
        USER_ID userId, 
        BOARD_TITLE boardTitle,
		BOARD_CONTENT boardContent, 
        BOARD_TYPE boardType, 
        BOARD_DATE boardDate, 
        BOARD_COUNT boardCount
    FROM BOARD 
        ORDER BY BOARD_CODE_SEQ DESC
    )A,
    (SELECT
        BOARD_CODE_SEQ, 
        COUNT(*) AS THUMBSCNT
    FROM BOARD_THUMB
    GROUP BY BOARD_CODE_SEQ) B,
    (SELECT
        BOARD_CODE_SEQ,
        COUNT(*) AS COMMENTCNT
    FROM BOARD_COMMENT
    GROUP BY BOARD_CODE_SEQ) C
WHERE 
A.boardCodeSeq = B.BOARD_CODE_SEQ(+)
AND
A.boardCodeSeq = C.BOARD_CODE_SEQ(+)
	<choose>
		<when test="boardType == '전체' or boardType == null">
		</when>
		<otherwise>
			AND A.boardType = #{boardType}
		</otherwise>
	</choose>	
ORDER BY A.boardCodeSeq DESC
</select>


<!-- 게시글 상세 조회 -->
<select id="selectBoardOne" parameterType="int" resultType="Board" resultMap="resultBoard">
	SELECT * FROM BOARD WHERE BOARD_CODE_SEQ = #{boardCodeSeq}
</select>

<!-- 게시글 조회 수 증가 -->
<update id="updateBoardCont" parameterType="int">
	UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_CODE_SEQ = #{boardCodeSeq}
</update>

<!-- 게시글 등록 -->
<insert id="insertBoard"  parameterType="Board">
	INSERT INTO BOARD VALUES(
		BOARD_SEQ.NEXTVAL, #{userId}, #{boardTitle}, #{boardContent},
		#{boardType}, SYSDATE, 0)
</insert>

<!-- 게시글 수정 -->
<update id="updateBoard" parameterType="Board">
	UPDATE BOARD SET BOARD_TITLE=#{boardTitle}, BOARD_CONTENT=#{boardContent},
		BOARD_TYPE=#{boardType} WHERE BOARD_CODE_SEQ=#{boardCodeSeq}
</update>

<!-- 게시글 삭제 -->
<delete id="deleteBoard" parameterType="int">
	DELETE FROM BOARD WHERE BOARD_CODE_SEQ=#{boardCodeSeq}
</delete>

<!-- 게시글 추천 개수 조회 -->
<select id="boardThumbCount" parameterType="int" resultType="_int">
	SELECT COUNT(*) cnt FROM BOARD_THUMB WHERE BOARD_CODE_SEQ = #{boardCodeSeq}
</select>

<!-- 게시글 추천 -->
<insert id="insertBoardThumb" parameterType="BoardThumb">
	INSERT INTO BOARD_THUMB VALUES(
		#{boardCodeSeq}, #{userId}
	)
</insert>

<!-- 게시글 추천 취소 -->
<delete id="deleteBoardThumb" parameterType="BoardThumb">
	DELETE FROM BOARD_THUMB WHERE BOARD_CODE_SEQ=#{boardCodeSeq} AND USER_ID=#{userId}
</delete>

<!-- 게시글 추천 조회 -->
<select id="selectBoardThumb" parameterType="BoardThumb" resultType="BoardThumb" resultMap="resultBoardThumb">
	SELECT * FROM BOARD_THUMB WHERE BOARD_CODE_SEQ=#{boardCodeSeq} AND USER_ID=#{userId}
</select>

<!-- 게시글 추천 삭제 -->
<delete id="deleteBoardThumbAll" parameterType="int">
	DELETE FROM BOARD_THUMB WHERE BOARD_CODE_SEQ=#{boardCodeSeq}
</delete>

<!-- 댓글 리스트 조회 -->
<select id="selectBoardCommentList" parameterType="int" resultType="BoardComment" resultMap="resultBoardComment">
	SELECT * FROM BOARD_COMMENT WHERE BOARD_CODE_SEQ=#{boardCodeSeq} ORDER BY COMMENT_CODE_SEQ ASC
</select>

<!-- 해당 게시글 댓글 개수 조회 -->
<select id="selectBoardCommentCount" parameterType="int" resultType="int">
	SELECT COUNT(*) cnt FROM BOARD_COMMENT WHERE BOARD_CODE_SEQ=#{boardCodeSeq}
</select>

<!-- 댓글 작성 -->
<insert id="insertBoardComment" parameterType="BoardComment">
	INSERT INTO BOARD_COMMENT VALUES(COMMENT_SEQ.NEXTVAL, #{boardCodeSeq}, #{userId}, #{commentContent}, SYSDATE)
</insert>

<!-- 댓글 삭제 -->
<delete id="deleteBoardComment" parameterType="BoardComment">
	DELETE FROM BOARD_COMMENT WHERE COMMENT_CODE_SEQ=#{commentCodeSeq}
</delete>

<!-- 댓글 변경 -->
<update id="updateBoardComment" parameterType="BoardComment">
	UPDATE BOARD_COMMENT SET COMMENT_CONTENT=#{commentContent} WHERE COMMENT_CODE_SEQ=#{commentCodeSeq}
</update>

<!-- 댓글 조회 -->
<select id="selectComment" parameterType="int" resultType="BoardComment" resultMap="resultBoardComment">
	SELECT * FROM BOARD_COMMENT WHERE COMMENT_CODE_SEQ=#{commentCodeSeq}
</select>

</mapper>
