<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Book">
	
	<resultMap type="Book" id="resultBook">
		<id property="bookId" column="BOOK_NUM_SEQ" />
		<result property="uId" column="U_ID"/>
		<result property="pId" column="P_CODE_SEQ"/>
		<result property="bookCheckIn" column="BOOK_CHECKIN"/>
		<result property="bookCheckOut" column="BOOK_CHECKOUT"/>
		<result property="bookPerson" column="BOOK_PERSON"/>
		<result property="bookPayPrice" column="BOOK_PAY_PRICE"/>
		<result property="bookPayDate" column="BOOK_PAY_DATE"/>
	</resultMap>
	
	<insert id="insertBook" parameterType="Book">
		<selectKey keyProperty="bookId" resultType="Integer" order="BEFORE">
			select BOOK_SEQ.NEXTVAL from dual
		</selectKey>
		INSERT INTO BOOK VALUES(#{bookId}, #{uId}, #{pId}, #{bookCheckIn}, #{bookCheckOut},
		 #{bookPerson}, #{bookPayPrice}, SYSDATE)
	</insert>
	
	<select id="selectBook" parameterType="Book" resultMap="resultBook">
		SELECT * FROM BOOK
		<where>
			<choose>
				<when test="pId != null">
					P_CODE_SEQ = #{pId} ORDER BY BOOK_PAY_DATE DESC
				</when>
				<when test="uId != null">
					U_ID = #{uId} ORDER BY BOOK_PAY_DATE DESC
				</when>
			</choose>		
		</where>
	</select>
	
	<delete id="deleteBook" parameterType="String">
		DELETE FROM BOOK WHERE BOOK_NUM_SEQ = #{bookId}
	</delete>
		
</mapper>