<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<resultMap id="resultMember" type="Member">
		<!-- 원래는 풀 패스를 적어줘야 하지만 mybatis-config.xml에 정의 해뒀으니 괜찮다. -->
		<!-- ex) type="com.mvcproject.memberController.model.vo.Member" -->
		<!-- PK는 id태그 이용 -->
		<id property="userId" column="U_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userRole" column="USER_ROLE"/>
		<result property="userRegdate" column="USER_REGDATE"/>
	</resultMap>
	
	<!-- member table의 모든 데이터 select -->
	<!-- resultMap을 쓰지 않을 경우 resultType="Member" 지정 필요 -->
	<!-- <select id="selectMemberAll" resultMap="resultMember"> 
		SELECT * FROM MEMBER
	</select> -->
	
	<!-- member table 조회 통합 쿼리 -->
	<select id="selectMember" parameterType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER
		<where>
			<choose>
				<when test="userName != null and userEmail != null">
					USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
				</when>
				<when test="userId != null and userEmail != null">
					U_ID = #{userId} AND USER_EMAIL = #{userEmail}
				</when>	
				<when test="userId != null">
					U_ID = #{userId}
				</when>
				<otherwise></otherwise>
			</choose>	
		</where>
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET USER_PW = #{userPw} WHERE U_ID = #{userId}
	</update>
	
</mapper>