<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Place">
	<resultMap type="Place" id="resultPlace">
		<id property="placeId" column="P_CODE_SEQ" />
		<result property="uId" column="U_ID"/>
		<result property="placeName" column="PLACE_NAME"/>
		<result property="placeAddress" column="PLACE_ADDRESS"/>
		<result property="placeAddressDetail" column="PLACE_ADDRESS_DETAIL"/>
		<result property="maxGuest" column="PLACE_LIMIT_PERSON"/>
		<result property="placeType" column="PLACE_TYPE"/>
		<result property="placePrice" column="PLACE_PRICE"/>
		<result property="hostPhone" column="USER_PHONE"/>
		<result property="placeKakaoLink" column="PLACE_KAKAO_LINK"/>
		<result property="placeOpenDate" column="PLACE_OPEN_DATE"/>
		<result property="placeCloseDate" column="PLACE_CLOSE_DATE"/>
		<result property="placeDesc" column="PLACE_INFO"/>
	</resultMap>
	
	<resultMap type="com.on.nearbnb.place.model.vo.ExtendedPlace" id="resultExtendedPlace">
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="imagePath" column="PFILE_PATH"/>
		<collection property="place" resultMap="resultPlace" />
	</resultMap>
	
	<resultMap type="PlaceThumb" id="resultPlaceThumb">
		<id property="placeId" column="P_CODE_SEQ" />
		<result property="uId" column="U_ID"/>
	</resultMap>
	
	<!-- 숙소 코드로 조회(상세 조회) -->
	<select id="selectPlace" resultMap="resultPlace" parameterType="Integer">
		SELECT A.*, DECODE(B.CNT, NULL, 0, B.CNT) placeThumb FROM
		    (SELECT
		        P_CODE_SEQ placeId,
		        U_ID "uId",
		        PLACE_NAME placeName,
		        PLACE_ADDRESS placeAddress,
		        PLACE_ADDRESS_DETAIL placeAddressDetail,
		        PLACE_LIMIT_PERSON maxGuest,
		        PLACE_TYPE placeType,
		        PLACE_PRICE placePrice,
		        USER_PHONE hostPhone,
		        PLACE_KAKAO_LINK placeKakaoLink,
		        PLACE_INFO placeDesc,
		        PLACE_OPEN_DATE placeOpenDate,
		        PLACE_CLOSE_DATE placeCloseDate
		    FROM PLACE)A,
		        (SELECT P_CODE_SEQ, COUNT(*) CNT FROM PLACE_THUMB GROUP BY P_CODE_SEQ) B
		WHERE
		    A.placeId = B.P_CODE_SEQ(+)
		AND
		    placeId = #{pId}
	</select>
	
	<!-- 아이디로 숙소 조회(등록한 숙소 조회) -->
	<select id="selectPlaceById" resultMap="resultPlace" parameterType="String">
		SELECT A.*, DECODE(B.CNT, NULL, 0, B.CNT) placeThumb FROM
		    (SELECT
		        P_CODE_SEQ placeId,
		        U_ID "uId",
		        PLACE_NAME placeName,
		        PLACE_ADDRESS placeAddress,
		        PLACE_ADDRESS_DETAIL placeAddressDetail,
		        PLACE_LIMIT_PERSON maxGuest,
		        PLACE_TYPE placeType,
		        PLACE_PRICE placePrice,
		        USER_PHONE hostPhone,
		        PLACE_KAKAO_LINK placeKakaoLink,
		        PLACE_INFO placeDesc,
		        PLACE_OPEN_DATE placeOpenDate,
		        PLACE_CLOSE_DATE placeCloseDate
		    FROM PLACE)A,
		        (SELECT P_CODE_SEQ, COUNT(*) CNT FROM PLACE_THUMB GROUP BY P_CODE_SEQ) B
		WHERE
		    A.placeId = B.P_CODE_SEQ(+)
		AND
		    "uId" = #{uId}
	</select>
	
	<!-- 마이페이지 용 숙소 코드로 조회 -->
	<select id="selectPlaceForModal" resultMap="resultPlace" parameterType="Integer">
		SELECT PLACE_NAME, PLACE_ADDRESS, PLACE_ADDRESS_DETAIL, PLACE_INFO, USER_PHONE FROM PLACE WHERE P_CODE_SEQ = #{pId}
	</select>	

	<!-- 숙소 등록 -->
	<insert id="insertPlace" parameterType="Place">
		<selectKey keyProperty="placeId" resultType="Integer" order="BEFORE">
			select PLACE_SEQ.NEXTVAL from dual
		</selectKey>
		INSERT INTO PLACE(P_CODE_SEQ,U_ID, PLACE_NAME, PLACE_ADDRESS,
		 PLACE_ADDRESS_DETAIL, PLACE_LIMIT_PERSON,
		PLACE_TYPE, PLACE_PRICE, USER_PHONE,
		 PLACE_KAKAO_LINK, PLACE_OPEN_DATE,
		  PLACE_CLOSE_DATE, PLACE_INFO)
		 VALUES(#{placeId}, #{uId}, #{placeName}, #{placeAddress}, #{placeAddressDetail}, 
		 #{maxGuest}, #{placeType}, #{placePrice}, 
		 #{hostPhone}, #{placeKakaoLink}, #{placeOpenDate},
		  #{placeCloseDate}, #{placeDesc})
	</insert>


	<!-- 리스트 숙소정보 조회 -->
	  <select id = "selectSearchPlace"  resultMap="resultPlace" parameterType="java.util.List">
    SELECT * FROM PLACE WHERE P_CODE_SEQ in (
      <foreach item="PlacePoint" index="index" collection="list"  separator="," >
      #{PlacePoint.placeId}
       </foreach>
       )ORDER BY P_CODE_SEQ
   </select>

	<!-- 숙소 코드로 숙소 명 조회 -->
	<select id="selectPlaceName" resultType="String" parameterType="Integer">
		SELECT PLACE_NAME FROM PLACE WHERE P_CODE_SEQ = #{placeId}
	</select>
	
	<!-- 게시글 추천 개수 조회 -->
	<select id="placeThumbCount" parameterType="int" resultType="_int">
		SELECT COUNT(*) cnt FROM PLACE_THUMB WHERE P_CODE_SEQ = #{placeId}
	</select>
	
	<!-- 추천 조회 -->
	<select id="selectPlaceThumb" parameterType="PlaceThumb" resultType="PlaceThumb" resultMap="resultPlaceThumb">
		SELECT * FROM PLACE_THUMB WHERE P_CODE_SEQ = #{placeId} AND U_ID = #{uId}
	</select>
	
	<!-- 추천하기 -->
	<insert id="insertPlaceThumb" parameterType="placeThumb">
		INSERT INTO PLACE_THUMB VALUES(#{placeId}, #{uId})
	</insert>
	
	<!-- 추천 취소 -->
	<delete id="deletePlaceThumb" parameterType="placeThumb">
		DELETE FROM PLACE_THUMB WHERE P_CODE_SEQ = #{placeId} AND U_ID = #{uId}
	</delete>
	
	<!-- 플레이스 확장 vo에 값 저장 -->
	<select id="searchExtendedPlace" resultMap ="resultExtendedPlace" parameterType="PlacePoint">
		SELECT * FROM PLACE
		JOIN PLACE_POINT P USING(P_CODE_SEQ)
		JOIN PLACE_IMGFILE PI USING(P_CODE_SEQ)
		WHERE( P.LATITUDE BETWEEN #{latitude}-0.1 AND #{latitude}+0.1 )
		AND(P.LONGITUDE BETWEEN #{longitude}-0.1 AND #{longitude}+0.1)
		ORDER BY DBMS_RANDOM.RANDOM()
	</select>
	
	<!-- 숙소삭제 -->
	<delete id="deletePlace" parameterType="Integer">
		DELETE FROM PLACE WHERE P_CODE_SEQ = #{placeId}
	</delete>


</mapper>