<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlaceFile">
	
	<resultMap type="PlaceFile" id="resultPlaceFile">
		<result property="fileChangedName" column="KEY"/>
		<result property="fileOriginalName" column="PFILE_ORIGINAL_NAME"/>
		<result property="filePath" column="PFILE_PATH"/>
		<result property="placeId" column="P_CODE_SEQ"/>
	</resultMap>	
	
	<insert id="insertPlaceFile" parameterType="java.util.List">
		INSERT INTO PLACE_IMGFILE
		<foreach collection="list" item="PlaceFile" separator=" UNION ALL ">
            SELECT #{PlaceFile.fileChangedName},
            #{PlaceFile.placeId},
            #{PlaceFile.fileOriginalName},
            #{PlaceFile.filePath} FROM DUAL
       </foreach>
	</insert>
	
	<select id="selectFiles" parameterType="Integer" resultMap="resultPlaceFile">
		SELECT * FROM PLACE_IMGFILE WHERE P_CODE_SEQ = #{pId}
	</select>
	
	<!-- 이미지file하나만 조회 -->
	<select id="selectOneFiles" parameterType="Integer" resultType="String">
		   SELECT PFILE_PATH FROM PLACE_IMGFILE WHERE P_CODE_SEQ= #{pId} AND ROWNUM=1
	</select>
	
	<!-- 이미지file하나만 조회 리스트 -->
	<select id="selectOneList"  resultMap="resultPlaceFile" parameterType="java.util.List">
 	<foreach item="PlacePoint" index="index" collection="list"  separator=" UNION ALL " >
 	SELECT * FROM PLACE_IMGFILE WHERE P_CODE_SEQ = #{PlacePoint.placeId} AND ROWNUM=1 
    </foreach>  
	</select>
</mapper>