<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Place">
	<resultMap type="Place" id="resultPlace">
		<id property="placeId" column="P_CODE_SEQ" />
		<result property="uId" column="U_ID"/>
		<result property="placeName" column="PLACE_NAME"/>
		<result property="placeAddress" column="PLACE_ADDRESS"/>
		<result property="placeAddressDetail" column="PLACE_ADDRESS_DETAIL"/>
		<result property="maxGuest" column="PLACE_LIMIT_PERSON"/>
		<result property="placeType" column="PLACE_TYPE"/>
		<result property="placePrice" column="PLACE_PRICE"/>
		<result property="hostPhone" column="USER_PHONE"/>
		<result property="placeKakaoLink" column="PLACE_KAKAO_LINK"/>
		<result property="placeOpenDate" column="PLACE_OPEN_DATE"/>
		<result property="placeCloseDate" column="PLACE_CLOSE_DATE"/>
		<result property="placeDesc" column="PLACE_INFO"/>
	</resultMap>
	
	<select id="selectPlace" resultMap="resultPlace" parameterType="Integer">
		SELECT * FROM PLACE WHERE P_CODE_SEQ = #{pId}
	</select>
	
	<insert id="insertPlace" parameterType="Place">
		<selectKey keyProperty="placeId" resultType="int" order="BEFORE">
			select PLACE_SEQ.NEXTVAL from dual
		</selectKey>
		INSERT INTO PLACE(P_CODE_SEQ,U_ID, PLACE_NAME, PLACE_ADDRESS,
		 PLACE_ADDRESS_DETAIL, PLACE_LIMIT_PERSON,
		PLACE_TYPE, PLACE_PRICE, USER_PHONE,
		 PLACE_KAKAO_LINK, PLACE_OPEN_DATE,
		  PLACE_CLOSE_DATE, PLACE_INFO)
		 VALUES(#{placeId}, #{uId}, #{placeName}, #{placeAddress}, #{placeaddressDetail}, 
		 #{maxGuest}, #{placeType}, #{placePrice}, 
		 #{hostPhone}, #{placeKakaoLink}, #{placeOpenDate},
		  #{placeCloseDate}, #{placeDesc})
	</insert>

</mapper>