<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN:"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlacePoint">
	
	<resultMap type="PlacePoint" id="resultPlacePoint">
		<id property="placeId" column="P_CODE_SEQ" />
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		
	</resultMap>
	
	<insert id="insertPlacePoint" parameterType="PlacePoint">
		INSERT INTO PLACE_POINT VALUES(#{placeId}, #{latitude}, #{longitude})
	</insert>
	
	<select id="searchPlacePoint" resultMap ="resultPlacePoint" resultType="PlacePoint" parameterType="PlacePoint">
		SELECT *  FROM PLACE_POINT 
		WHERE( LATITUDE BETWEEN #{latitude}-0.1 AND #{latitude}+0.1 )
		AND(LONGITUDE BETWEEN #{longitude}-0.1 AND #{longitude}+0.1)
		ORDER BY DBMS_RANDOM.RANDOM()
	</select>
	
	<select id="searchPlacePointOne" resultMap="resultPlacePoint" parameterType="Integer">
		SELECT * FROM PLACE_POINT WHERE P_CODE_SEQ = #{pId}
	</select>
</mapper>